@page "/"
@namespace BlazorDemoApplication.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Blazor App</title>
    <base href="~/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <app>Loading...</app>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>

     <script src="_framework/blazor.webassembly.js"></script> 
</body>
</html>
