@page "/ForgotPassword"
@using BlazorDemoApplication.Data
@inject UserService userService
@inject NavigationManager navigationManager

<h3>Forgot Password</h3>
@* 
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<form @onsubmit="SendResetPasswordEmail">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" @bind="@email" id="email" />
    </div>
    <button type="submit" class="btn btn-primary">Send Reset Password Email</button>
</form>

@code {
    private string email;
    private string errorMessage;

    private async Task SendResetPasswordEmail()
    {
        // Check if the email exists in the database
        bool userExists = await userService.CheckIfUserExistsByEmail(email);
        if (userExists)
        {
            // Send reset password email
            bool success = await userService.SendResetPasswordEmail(email);
            if (success)
            {
                // Redirect to a page indicating that the reset password email has been sent
                navigationManager.NavigateTo("/ResetPasswordEmailSent");
            }
            else
            {
                errorMessage = "Failed to send reset password email. Please try again later.";
            }
        }
        else
        {
            errorMessage = "User with this email does not exist.";
        }
    }
}
 *@